.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(0, 102, 255, 0.3);
}

.navbar-container {
  max-width: 1200px;
  margin: auto;

  height: 75px;

  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.logo span {
  color: #1683ff;

  text-shadow:
    0 0 5px #1683ff,
    0 0 15px #0066ff,
    0 0 25px #0066ff;
}

/* Desktop Menu */

.desktop-menu {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-link {
  color: #ccc;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
}

.nav-link:hover {
  color: #1683ff;

  text-shadow:
    0 0 8px #1683ff;
}

.nav-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -7px;

  width: 0;
  height: 2px;

  background: #1683ff;

  box-shadow:
    0 0 8px #1683ff;

  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* Resume Button */

.resume-button {
  padding: 10px 20px;

  border: 1px solid #1683ff;
  border-radius: 6px;

  color: #1683ff;

  transition: 0.3s;

  box-shadow:
    0 0 8px rgba(22, 131, 255, 0.4);
}

.resume-button:hover {
  background: #1683ff;
  color: white;

  box-shadow:
    0 0 10px #1683ff,
    0 0 25px #0066ff;
}

/* Mobile button */

.menu-button {
  display: none;

  background: transparent;
  border: none;

  color: #1683ff;

  font-size: 30px;

  cursor: pointer;
}

/* Mobile menu */

.mobile-menu {
  display: none;
}

/* Mobile */

@media (max-width: 768px) {

  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .mobile-menu {
    display: flex;

    flex-direction: column;

    gap: 20px;

    padding: 25px 30px;

    background: #000;

    border-top: 1px solid rgba(0, 102, 255, 0.3);
  }

  .mobile-menu a {
    color: #ccc;

    font-size: 17px;

    transition: 0.3s;
  }

  .mobile-menu a:hover {
    color: #1683ff;
  }

  .mobile-resume {
    text-align: center;

    padding: 12px;

    background: #0066ff;

    border-radius: 6px;

    color: white !important;

    box-shadow:
      0 0 10px rgba(0, 102, 255, 0.7);
  }

}